{
  "checks": {
    "cpu": {
      "handlers": ["mailer"],
      "command": "{{ sensu_embedded_ruby }} {{ sensu_system_plugins_directory }}/check-cpu.rb -w 80 -c 90",
      "interval": 60,
      "subscribers": ["all"]
    },
    "disk": {
      "handlers": ["mailer"],
      "command": "{{ sensu_embedded_ruby }} {{ sensu_system_plugins_directory }}/check-disk.rb -w 80 -c 90",
      "interval": 60,
      "subscribers": ["all"]
    },
    "memory": {
      "handlers": ["mailer"],
      "command": "{{ sensu_system_plugins_directory }}/check-memory-pcnt.sh -w 95 -c 99",
      "interval": 60,
      "subscribers": ["all"]
    },
    "swap": {
      "handlers": ["mailer"],
      "command": "{{ sensu_system_plugins_directory }}/check-swap-percentage.sh -w 10 -c 20",
      "interval": 60,
      "subscribers": ["all"]
    }
  }
}
